%h2 Sign in
= form_tag sessions_path do
  %dl#sign_in
    %dd
      = label_tag 'email', 'Email'
      = text_field_tag 'email'
    %dd
      = label_tag 'password','Password'
      = password_field_tag 'password'
    %dd
      = submit_tag "sign in"
