= form_for page do |f|
  - if f.object.errors.any?
    .flash.alert
      %p= f.object.errors.full_messages.to_sentence
  %dl
    %dd.inline-block
      = f.label :name
      = f.text_field :name, placeholder: 'Page name'
    %dd.inline-block
      = f.label :title
      = f.text_field :title, placeholder: 'Page title'
  %dl
    %dd.inline-block
      = f.label :page_id, 'Parent page'
      = f.select :page_id, main_pages.collect {|f| [f.name.titleize,f.id]}, include_blank: 'none'
    %dd.inline-block
      = f.label :published_at, 'Publish date'
      = f.text_field :published_at, value: page.publish_date
  %dl
    %dd
      %label(for = "page_body")
        Body
        %span.grey.small
          (click
          = link_to 'here', 'http://hw.libsyn.com/p/8/3/3/8339a864bb8faa83/Markdown_Cheat_Sheet.pdf', target: '_blank'
          learn to style your text)
      = f.text_area :body, placeholder: 'Page content... '
    %dd
      = f.submit 'Save page'
