= form_for page do |f|
  - if f.object.errors.any?
    .flash.alert
      %p= f.object.errors.full_messages.to_sentence
  %dl#create_website.centered
    %dd
      = f.label :name
      = f.text_field :name
    %dd
      = f.label :title
      = f.text_field :title
    %dd
      = f.label :body
      = f.text_area :body
    %dd
      %label
        = check_box_tag 'published at'
        Publish page
    %dd
      = f.submit 'Save page'
