-flash.keys.each do |type|
  .flash{class: type}
    %p= flash[type]
%ul.control_panel.page
  %h3 Control Panel
  - all_pages.each do |page|
    %li(class= "#{page.name}")
      %strong.large
        = link_to page.name.titleize, "/p/#{page.name}"
      = '-->'
      = link_to "edit", edit_page_path(page)
