- if current_page
  %h2= current_page.name.titleize
  = render 'layouts/sub_links'
  - unless current_page.body.blank?
    %article= format(current_page.body)
  - published_posts.each do |post|
    %article
      .flight.small.grey= "published: #{(post.published_at || post.created_at).to_s(:pretty)}"
      %h4.inlined= post.title
      = format(post.body)
