!!!
%html
%head
  %title Website Title
  = stylesheet_link_tag "application"
  = javascript_include_tag "application"
  = csrf_meta_tags
%body
  %section#main_section
    %table#main_table
      %tr
        %td#left
          %nav.page
            -page_link_names.each do |page|
              = link_to page.name.titleize, "/p/#{page.name}"
        %td#right.wide
          %header
            .flight= link_to "sign in", new_session_path
            %h1= website_name ? website_name.value : "Your website name here"
            %nav.sub_page
          %section
            = yield
