!!!
%html
%head
  %title Buildy Build
  = stylesheet_link_tag "application"
  = javascript_include_tag "application"
  = csrf_meta_tags
%body
  %section#main_section
    %table#main_table
      %tr
        %td#left
          %nav.page
            -5.times do |index|
              = link_to "link#{index}"
        %td#right
          %header
            %h1 Buildy Build
            %h2.page_name Page
            %nav.sub_page
              - 5.times do |i|
                =link_to "Sub link #{i}"
          %section
            = yield
          %footer This will be the footer


