!!!
%html
%head
  %title Website Title
  = stylesheet_link_tag "application"
  = javascript_include_tag "application"
  = csrf_meta_tags
%body
  -flash.keys.each do |type|
    %section.flash{class: type}
      %p= flash[type]
  %section#main_section
    %table#main_table
      %tr
        %td#left
          %nav.page
            - page_link_names.each do |page|
              = link_to page.name.titleize, "/p/#{page.name}"
        %td#right.wide
          %header
            .flight
              - if current_user
                %div= link_to "sign out", sign_out_path
                %div= link_to "control panel", control_panel_path
              - else
                = link_to "sign in", new_session_path
            %h1= website_name ? website_name.value : 'Webiste Name Here'
            %nav.sub_page
          %section
            = yield
